---
---

@import "{{ site.theme }}";

p sup sub {
    visibility: collapse;
    margin: 0px;
}

#main_content {
    padding-top: 0px;
}
.inner {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
pre,code {
	font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

body {
    font-family: 'Myriad Pro', 'Segoe UI', Calibri, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Segoe UI Semibold', 'Lucida Grande', 'Calibri', Roboto, Helvetica, Arial, sans-serif;
}

ul li:before {
    content: unset
}
ul li {
    list-style: lower-alpha;
}
